* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
 padding-left: 320px;

}

.hero-block {
  width: 1920px;
  height: 1000px;
  background-image: url(img/cpbg.jpg);
}

.logo {
 margin-top: 20px;
 margin-left: 320px;
 position: absolute;
}

.yt-logo {
  margin-top: 43px;
  margin-left: 1225px;
}

.vk-logo {
  margin-left: 42px;
}

.fb-logo {
  margin-left: 42px;
}

.tw-logo {
  margin-left: 42px;
}

.tc-logo {
  margin-left: 42px;
}

.inst-logo {
  margin-left: 42px;
}

.yellow {
  width: 624px;
  height: 369px;
  background-image: url(img/Rectangle\ 59.png);
  margin-top: 554px;
  margin-left: 976px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

h1 {
  font-family: 'Archangelsk';
  font-size: 60px;
  font-weight: 600;
}

@font-face {
  font-family: 'Archangelsk';
  src: url('Archangelsk.ttf');
}

.ub {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #F8F200;

}

.mini-div {
  background-color: black;
  width: 272px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(25px) translateX(-110px);

}

.sect-two {
  width: 1920px;
  height: 847px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 320px;
}

.night-city {
  font-family: 'Archangelsk';
  font-size: 62px;

}

.pisanina {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin-top: 25px;
  color: grey;
  line-height: 34px;
}

.cp77 {
  color: #52BEDC;
}

.photo2 {
  width: 460px;
  height: 196px;
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(img/Rectangle\ 62.png);
}

.photo3 {
  width: 460px;
  height: 196px;
  display: grid;
  grid-column: 1/3;
  grid-row: 2/3;
  background-image: url(img/Rectangle\ 63.png);
}

.photo1 {
  width: 788px;
  height: 424px;
  display: grid;
  grid-column: 3/6;
  grid-row: 1/3;
  background-image: url(img/Rectangle\ 61.png);
}

.mini-gallery {
  display: grid;
  grid-template-columns: 230px 230px 262px 262px 262px;
  grid-template-rows: 212px 212px;
  gap: 16px;
  margin-top: 70px;
}

.sect-three {
  width: 1920px;
  height: 814px;
  background-image: url(img/Rectangle\ 60.png);
  margin-top: 0%;
  color: white;
  transform: translateY(-10px);
}

.soed {
  width: 1920px;
  height: 70px;
 background-image: url(img/22\ 1.png);
}

.soed-two {
  width: 1920px;
  height: 70px;
  background-image: url(img/22\ 2.png);
}

.akcia {
  margin-top: 15px;
  margin-left: 320px;
  transform: translateY(-63px);
}

.iiw {
  font-family: 'archangelsk';
  color: white;
  font-size: 62px;
  transform: translateY(70px);
  margin-left: 484px;
}

.pisanina-two {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.pisanina-s-family {
  padding: 0 648px 0px 320px;
}

form {
  margin: 98px 0 0 320px;
}

input {
  width: 460px;
  height: 35px;
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  border: none;
}

form  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input::placeholder {
  color: rgb(255, 255, 255);
  transform: translateY(-5px);
}

.tipo-underline {
  color: rgb(170, 170, 170);
  transform: translateY(-28px);
}

.skrin {
  width: 460px;
  height: 120px;
  border: 3px dashed grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
}

.skrintwo {
  font-size: 20px;
  text-decoration: underline;
}

.send {
  width: 192px;
  height: 59px;
  margin-top: 35px;
  background-color: #F8F200;
  font-weight: 600;
  font-size: 18px;
}

.cbox {
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid grey;
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.cbox:checked::before {
  content: '✔';
  font-size: 18px;
  color: #F8F200;
}

.cb-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: translateX(10px) translateY(10px);
}

.hz {
  display: flex;
  flex-direction: row;
}

.ps-bg {
  width: 788px;
  height: 456px;

}

.dop-div {
  display: flex;
  flex-direction: row;
}

.ps-imgs {
  transform: translateX(820px) translateY(-435px);
}

.soed-two {
  transform: translateY(-12px);
}

.sect-four {
  background-image: url(img/Rectangle\ 593.png);
  width: 1920px;
  height: 676px;
  transform: translateY(-17px);
}

.sect-four-img {
  margin-top: 70px;
  margin-left: 320px;
}

.sect-four-h2 {
   margin-top: 70px; 
   margin-left: 976px;
   transform: translateY(-500px);
   font-size: 62px;
   font-family: archangelsk;
}

.pisanina-three {
  width: 624px;
  height: 125px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 976px;
  transform: translateY(-480px);
  line-height: 34px;
}

.vector-imgs {
  display: flex;
  flex-direction: column;
  width: 32px;
  gap: 15px;
  margin-left: 976px;
  transform: translateY(-450px);
}

.vector-img-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 1025px;
  transform: translateY(-570px);
}

.other-text {
  margin-bottom: 23px;
}

.sect-five {
  width: 1920px;
  height: 717px;
  background-color: black;
  transform: translateY(-17px);
  color: whit;
}
.sect-five-h2 {
  font-family: 'archangelsk';
  font-size: 62px;
  margin-bottom: 24px;
  color: white;
}

.sf-blue-text {
  color: #52BEDC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.hp-logo {
  transform: translateX(-590px) translateY(110px);
}

.x-img {
  transform: translateX(-560px) translateY(80px);
}

.cb-logo {
  transform: translateX(-540px) translateY(110px);
}

.vector-img-text-two  {
  color: rgb(255, 255, 255);
  transform: translateX(40px) translateY(-120px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.other-text-two {
  margin-bottom: 25px;
}

.vector-imgs-two {
  display: flex;
  flex-direction: column;
  width: 32px;
  gap: 15px;
}

.sf-blue-text-two {
  color: #52BEDC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  transform: translateY(-50px);
}

.frame {
  margin-top: 25px;
  margin-right: 65px;
}

.pc-xbox {
  width: 320px;
  transform: translateY(-50px);
}

.stadia {
  margin-top: 38px;
  margin-right: 65px;
}

.sect-five-text {
  margin-left: 976px;
  transform: translateY(-650px);
}

.ftr {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1920px;
  height: 140px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-17px);
}

.ftr-cb-logo {
  margin-left: 320px;
}

.CD-logo {
  margin-left: 32px;
}

.ftr-text {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 320px; 
}

.ftr-text-two {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 32px;
}

.ftr-two {
  width: 1920px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(173, 173, 173);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: translateY(-17px);
}

@media screen and (max-width: 320px) {

  * {
    max-width: 320px;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  
  .container {
    max-width: 320px;
    padding: 0 12px;
   
   
  }
  
  .hero-block {
    width: 320px;
    height: 763px;
    background-image: url(adaptive/11.png);

  }
  
  .logo {
   width: 200px;
   height: 50px;
   margin-top: 20px;
   margin-left: 60px;
  }
  
  .yt-logo {
    width: 25px;
    height: 25px;
    margin-top: 80px;
    margin-left: 12px;
  }
  
  .vk-logo {
    width: 25px;
    height: 25px;
    margin-left: 24px;
  }
  
  .fb-logo {
    width: 25px;
    height: 25px;
    margin-left: 24px;
  }
  
  .tw-logo {
    width: 25px;
    height: 25px;
    margin-left: 24px;
  }
  
  .tc-logo {
    width: 25px;
    height: 25px;
    margin-left: 24px;
  }
  
  .inst-logo {
    width: 25px;
    height: 25px;
    margin-left: 24px;
  }
  
  .yellow {
    width: 320px;
    height: 207px;
    background-image: url(adaptive/Rectangle\ 59.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 556px;
    transform: translateX(-976px);
  }
  
  h1 {
    font-family: 'Archangelsk';
    font-size: 30px;
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Archangelsk';
    src: url('Archangelsk.ttf');
  }

  .ub {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #F8F200;
  
  }
  
  .mini-div {
    background-color: black;
    width: 244px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(2px);
    margin-top: 10px;
  }
  
  .sect-two {
    width: 320px;
    padding-left: 12px;
    height: 1630px;
  }
  
  .night-city {
    font-family: 'Archangelsk';
    font-size: 30px;
    width: 320px;
    margin-top: 170px;
  }

  .pisanina-s-family {
    margin: 0;
    padding: 0;
  }
  
  .pisanina {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    color: grey;
    line-height: 32px;
    width: 296px;

  }
  
  .cp77 {
    color: #52BEDC;
  }
  
  .photo2 {
    width: 320px;
    height: 196px;
    background-image: url(adaptive/Rectangle\ 62.png);
    transform: translateX(-12px);
  }
  
  .photo3 {
    width: 320px;
    height: 196px;
    background-image: url(adaptive/Rectangle\ 63.png);
    transform: translateX(-12px);
  }
  
  .photo1 {
    width: 320px;
    height: 424px;
    background-image: url(adaptive/Rectangle\ 61.png);
    transform: translateX(-12px);
  }
  
  .mini-gallery {
    gap: 32px;
    display: flex;flex-direction: column;
    margin-top: 70px;
  }

  .soed {
    width: 320px;
    height: 70px;
    background-image: url(adaptive/22\ 1\ \(1\).png);
  }

  .soed-two {
    width: 320px;
    background-image: url(adaptive/22\ 2.png);
  }
  
  .sect-three {
    width: 320px;
    height: 900px;
    color: white;
    padding-top: 150px;
  }
  
  .akcia {
    width: 62px;
    height: 62px;
    margin-left: 12px;
    transform: translateY(-175px);
  }
  
  .iiw {
    font-family: 'archangelsk';
    color: white;
    font-size: 30px;
    margin-left: 12px;
    
  }
  
  .pisanina-two {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-right: 12px;
  }
  
  .pisanina-s-family {
   width: 320px;
   margin-left: 12px;
  }
    
  input {
    width: 296px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    border: none;
  }
  
  form  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 12px;
    transform: translateY(330px);
  }
  
  input::placeholder {
    color: rgb(255, 255, 255);
    transform: translateY(-5px);
  }
  

  
  .skrin {
    width: 296px;
    height: 120px;
    color: gray;
    border: 3px dashed grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .skrintwo {
    font-size: 20px;
    text-decoration: underline;
  }
  
  .send {
    width: 192px;
    height: 59px;
    margin-top: 35px;
    background-color: #F8F200;
    font-weight: 600;
    font-size: 18px;
  }
  
  .cbox {
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid grey;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
  }
  
  .cbox:checked::before {
    content: '✔';
    top: -8px;
    left: -2px;
    font-size: 18px;
    color: #F8F200;
  }
  
  .cb-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateX(10px) translateY(10px);
  }
  
  .hz {
    display: flex;flex-direction: row;
  }

 .idk {
  width: px;
  height: 0;
  padding-left: 0;
  color: rgb(255, 255, 255);
 }
  
  .ps-bg {
    width: 296px;
    height: 160px;
    margin-left: 12px;
  }
  
  .dop-div {
    display: flex;
    flex-direction: row;
  }

  .yus::placeholder{
  border-bottom: 1px solid white;
  }

  .yus-two::placeholder{
    border-bottom: 1px solid white;
  }
  
  .ps-imgs {
    margin-left: 12px;
    transform: translateX(-20px) translateY(-450px);
    margin-bottom: 30px;
  }
  
  .soed-two {
    transform: translateY(-12px);
  }
  
  .sect-four {
    background-image: url(img/Rectangle\ 593.png);
    width: 320px;
    height: 676px;
    transform: translateY(-17px);
  }
  
  .sect-four-img {
    margin-top: 70px;
    margin-left: 12px;
    width: 296px;
  }
  
  .sect-four-h2 {
     margin-top: 70px; 
     margin-left: 976px;
     transform: translateY(-500px);
     font-size: 62px;
     font-family: archangelsk;
  }

  .yus::placeholder {
    color: gray;
    border-color: gray;
  }

  .yus-two::placeholder {
    color: gray;
    border-color: gray;
  }
  
  .pisanina-three {
    width: 624px;
    height: 125px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 976px;
    transform: translateY(-480px);
    line-height: 34px;
  }
  
  .vector-imgs {
    display: flex;
    flex-direction: column;
    width: 24px;
    gap: 15px;
    margin-left: 12px;
    transform: translateY(-450px);
  }
  
  .vector-img-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
    transform: translateY(-570px);
    font-size: 16px;
    line-height: 12px;
    margin-top: 25px;
  }
  
  .other-text {
   
  }
  
  .sect-five {
    width: 320px;
    height: 717px;
    background-color: black;
    transform: translateY(-17px);
    color: whit;
  }
  .sect-five-h2 {
    font-family: 'archangelsk';
    font-size: 62px;
    margin-bottom: 24px;
    color: white;
  }
  
  .sf-blue-text {
    color: #52BEDC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .hp-logo {
    margin-top: 25px;
    margin-left: 12px;
    width: 44px;
    transform: translateX(1px) ;
  }
  
  .x-img {
    width: 50px;
    transform: translateX(10px) translateY(-15px);
  }
  
  .cb-logo {
    width: 175px;
    transform: translateX(15px) translateY(1px);
  }
  
  .vector-img-text-two  {
    position: absolute;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    transform: translateX(40px) translateY(-120px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .other-text-two {
    margin-bottom: 25px;
  }
  
  .vector-imgs-two {
    display: flex;
    flex-direction: column;
    width: 32px;
    gap: 15px;
    margin: 0;
  }
  
  .sf-blue-text-two {
    color: #52BEDC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-top: 60px;
  }
  
  .frame {
    margin-top: 25px;
    margin-right: 65px;
  }
  
  .stadia {
    margin-top: 38px;
    margin-right: 65px;
  }
  
  .sect-five-text {
    margin-left: 976px;
    transform: translateY(-650px);
  }
  
  .ftr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    transform: translateY(-17px);
  }
  
  .ftr-cb-logo {
    margin-left: 320px;
  }
  
  .CD-logo {
    margin-left: 32px;
  }
  
  .ftr-text {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 320px; 
  }
  
  .ftr-text-two {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 32px;
  }
  
  .ftr-two {
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(173, 173, 173);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateY(-17px);
  }
  
}